version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      # Stop at the 'deps' stage so we have all binaries and node_modules
      target: deps
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/.next
    environment:
      - NODE_ENV=development
      - DATABASE_URL=postgresql://user:password@db:5432/portfolio_db
    # Override the production entrypoint to use the development server
    command: npm run dev
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: portfolio_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
